/* 
* @Author: anchen
* @Date:   2015-09-28 23:46:56
* @Last Modified by:   anchen
* @Last Modified time: 2015-11-15 21:55:51
*/
/*----------------web---全局样式-------------------*/
html,body,footer,div,p,h1{
     margin:0;
    padding:0;
}
html,body,footer{
    width:100%;
    height:100%;
    background-color: #F1F1F1;
    font-size:1em;
    font-family:"microsoft yahei",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,img {
    border: none;
    cursor: pointer;
}
a:link,a:visited,a:hover,a:active{ 
    text-decoration: none;
}
a:hover{
    webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul {
    list-style: none;
    margin:0;
}
i{
    font-style: normal;
    font-weight: 400;
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }             
.clearfix { zoom:1; }
/*-------导航整体样式--------------------------*/
.navbar{
    margin-bottom:0;
    border:0;
}
.navbar-default {
    background-color:#2B2D33;
    border-color: #000;
    background-color: rgba(0,0,0,0.7);
}
.navWidth{
    width:90%;
    margin:0 auto;
}
.navbar-nav{
    margin-left:35% ;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(255,255,255,0.8);
}
.dropdown-menu {
   background-color: rgba(0,0,0,0.7);
}
.dropdown-menu>li>a {
   color: rgba(255,255,255,0.8);
}
/*图片样式*/
.logo-pic {
    display: inline-block;
    margin-top: 5px;
    width:270px;
    height:41px;
    background: url(../images/1.png);
}
/*字的颜色*/
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    color:#777;
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus, 
 .navbar-default .navbar-nav > .active > a:hover{
   color: rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.1);
    
}
.navbar-default .navbar-nav > li > a:focus,
 .navbar-default .navbar-nav > li > a:hover{
    color: rgba(255,255,255,0.4);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   color: rgba(255,255,255,0.6);
   background-color: #000;
}
/*登录*/
.btn-default{
    color:#000;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:active {
    color: rgba(0,0,0,0.8);
}
/*-------主要内容-------*/
.content,.content1,.content2{
    padding:0 0 70px;
    zoom:1;
    z-index: 1;
    position:relative;
    min-height:100%;
}
.insert{ 
    width:90%;
    height:700px;
    margin:0 auto;
    background:#fff;
}
.title{
    color: #fff;
    font-size:1.313em;
    height:35px;
    line-height: 35px;
}
.title{
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;
}
.banner{
    width:100%;
    height:200px;
    padding-top:50px;
    color:#fff;
    text-align: center;
    border-bottom:1px solid #ccc;
    position:relative;
   display: inline-table;
}
.banner .inner {
    width: 100%;
    height: 150px;
    color:#fff;
    display: table-cell;
    vertical-align: middle;
}
.banner .inner h1{
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.banner .inner p{
    font-size:12px;
}
/*新增按钮*/
#addMember{
    padding:5px 10px;
    position:absolute;
    right:10%;
    margin:10px 0;
}
#layer{
    -webkit-animation:bounceIn 1s .2s ease both;
    -moz-animation:bounceIn 1s .2s ease both;/*弹入*/
}
/*回到顶部*/
#backTop {
    height: 50px;
    position: fixed;
    bottom: 55px;
    right: -60px;
    z-index: 9999;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#backTop.showme {
    right: 12px;
    -moz-transform: scale(1) rotate(-360deg) translate(0px);
    -webkit-transform: scale(1) rotate(-360deg) translate(0px);
    -o-transform: scale(1) rotate(-360deg) translate(0px);
    transform: scale(1) rotate(-360deg) translate(0px);
}
#backTop .bttbg {
    width: 50px;
    height: 50px;
    background: url(../images/top_button.png) no-repeat 0 0;
}
/*---------------------------------------第二部分----------------------------*/
.footer{
    width:100%;
    height:50px;
    background:#48484D;
    z-index: 3;
    position:fixed;
    bottom:0;
}
.footer-warp{
    width:60%;
    padding:10px 0;
    margin:0 auto;
    overflow: hidden;
}
.footer li a{
    font-size:.75em;
    color:#f7f7f7;
}
.col-md-8 .logo-pic{
    margin-top:15px;
}
@media screen and (max-width: 1350px){
.navbar-nav{
    margin-left:0;
}
.navWidth{width:100%;}
}
@media screen and (max-width: 1024px){
.footer-warp{
    padding:0;
}
#layer{
    -webkit-animation:fadeInUpBig 1s .2s ease both;
    -moz-animation:fadeInUpBig 1s .2s ease both;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:active {
    color: rgba(255,255,255,0.8);
}
}
@media screen and (max-width: 500px){
.footer-warp{
    width:100%;
}
}
@media screen and (max-width: 350px){
.container{
    width:100%;
    padding:0;
}
.logo-pic {
    width:180px;
    height:20px;
    background: url(../images/1.png);
    background-size: cover;
}
}
/*----------------------css3动画效果----------------------------------*/
@keyframes fadeInDown{
    0%{opacity:0;transform:translateY(-20px)}
    100%{opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translateY(-20px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
    0%{opacity:0;
    -moz-transform:translateY(-20px)}
    100%{opacity:1;
    -moz-transform:translateY(0)}
}
@keyframes bounceIn{
   0%{opacity:0;transform:scale(.3)}
    50%{opacity:1;transform:scale(1.05)}
    70%{transform:scale(.9)}
    100%{transform:scale(1)}
}
@-webkit-keyframes bounceIn{
    0%{opacity:0;-webkit-transform:scale(.3)}
    50%{opacity:1;-webkit-transform:scale(1.05)}
    70%{-webkit-transform:scale(.9)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
    0%{opacity:0;-moz-transform:scale(.3)}
    50%{opacity:1;-moz-transform:scale(1.05)}
    70%{-moz-transform:scale(.9)}
    100%{-moz-transform:scale(1)}
}
@keyframes flipInY{
    0%{transform:perspective(400px) rotateY(90deg);opacity:0}
    40%{transform:perspective(400px) rotateY(-10deg)}
    70%{transform:perspective(400px) rotateY(10deg)}
    100%{transform:perspective(400px) rotateY(0deg);opacity:1}
}
@-webkit-keyframes flipInY{
    0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0}
    40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateY(10deg)}
    100%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1}
}
@-moz-keyframes flipInY{
    0%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0}
    40%{-moz-transform:perspective(400px) rotateY(-10deg)}
    70%{-moz-transform:perspective(400px) rotateY(10deg)}
    100%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1}
}
@keyframes fadeInUpBig{
   0%{opacity:0;transform:translateY(2000px)}
    100%{opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeInUpBig{
    0%{opacity:0;-webkit-transform:translateY(2000px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
    0%{opacity:0;-moz-transform:translateY(2000px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
/*进入时翻转*/
@keyframes flip{
     0%{transform:rotateY(0);
        animation-timing-function:ease-in}
    50%{transform:rotateY(180deg);
        animation-timing-function:ease-in}
    100%{transform:rotateY(360deg);animation-timing-function:ease-in}
}
@-webkit-keyframes flip{
    0%{-webkit-transform:rotateY(0);
        -webkit-animation-timing-function:ease-in}
    50%{-webkit-transform:rotateY(180deg);
        -webkit-animation-timing-function:ease-in}
    100%{-webkit-transform:rotateY(360deg);-webkit-animation-timing-function:ease-in}
}
@-moz-keyframes flip{
     0%{-moz-transform:rotateY(0);
        -moz-animation-timing-function:ease-in}
    50%{-moz-transform:rotateY(180deg);
        -moz-animation-timing-function:ease-in}
    100%{-moz-transform:rotateY(360deg);-moz-animation-timing-function:ease-in}
}